.layout-contact {
    margin-bottom: 30px
}

.layout-contact .des_foo {
    margin-bottom: 10px
}

.layout-contact .contact {
    background-color: #fff;
    margin-bottom: 15px
}

.layout-contact .contact h4 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 5px;
    color: #0974ba
}

.layout-contact .contact .time_work .item {
    position: relative;
    font-size: 18px;
    margin-bottom: 5px
}

.layout-contact .contact .time_work .item svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 0
}

.layout-contact .contact a {
    color: #0974ba;
    font-weight: 600
}

.layout-contact .contact a:hover {
    color: #630
}

.layout-contact .form-contact {
    background-color: #fff;
    margin-bottom: 15px
}

.layout-contact .form-contact h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 13px
}

.layout-contact .form-contact .group_contact input,.layout-contact .form-contact .group_contact textarea {
    border: 1px solid #e1e1e1;
    width: 100%;
    /* margin-bottom: 15px; */
    outline: none;
    font-size: 14px;
    border-radius: 5px
}

.layout-contact .form-contact .group_contact input {
    padding: 5px 20px
}

.layout-contact .form-contact .group_contact textarea {
    padding: 10px 20px
}

.layout-contact .form-contact .group_contact .btn-lienhe {
    background: #0974ba;
    color: #fff;
    border: initial;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border-radius: 5px
}

.layout-contact .form-contact .group_contact .btn-lienhe:hover {
    background: #fcaf17
}

@media (max-width: 991px) {
    .form-contact {
        margin-bottom:30px
    }
}

#contact_map iframe {
    width: 100% !important;
    height: 570px;
    border-radius: 5px;
    overflow: hidden
}

@media (max-width: 991px) {
    #contact_map iframe {
        height:450px
    }
}
