.content-page {
    min-height: 400px
}

.content-page ul,.content-page ol {
    padding-left: 20px
}

.page-title .title-head {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px
}

@media (max-width: 767px) {
    .page-title .title-head {
        margin-bottom:10px
    }
}

@media (max-width: 767px) {
    .item_product_main .product-info h3 {
        font-size:12px
    }
}

.col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px
}

@media (max-width: 480px) {
    .col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {
        padding-left:7px;
        padding-right: 7px
    }
}

.col-xs-15 {
    -ms-flex: 0 0 73%;
    flex: 0 0 73%;
    max-width: 73%
}

@media (min-width: 768px) {
    .col-sm-15 {
        -ms-flex:0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        -ms-flex:0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        -ms-flex:0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

.page-store {
    padding-bottom: 50px
}

.page-store .col-left .option-chos {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #D4D4D4;
    border-radius: 5px
}

.page-store .col-left .option-chos .group {
    margin-bottom: 10px;
    width: 100%
}

.page-store .col-left .option-chos .group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url(//bizweb.dktcdn.net/100/489/005/themes/912542/assets/ico-select2.png?1721988795194);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #fff !important;
    padding-right: 28px;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 20px 5px 12px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    outline: none !important
}

.page-store .col-left .option-chos .info-store {
    margin-top: 15px;
    max-height: 380px;
    overflow: hidden;
    overflow-y: auto
}

@media (max-width: 991px) {
    .page-store .col-left .option-chos .info-store {
        max-height:220px
    }
}

.page-store .col-left .option-chos .info-store::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5
}

.page-store .col-left .option-chos .info-store::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #A3A8AF
}

.page-store .col-left .option-chos .info-store::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5
}

.page-store .col-left .option-chos .info-store .store-list {
    background: #fff;
    padding: 0px;
    line-height: 24px;
    border-bottom: dashed 1px #F2F2F2;
    cursor: pointer
}

.page-store .col-left .option-chos .info-store .store-list.active {
    background: #fffaf5
}

.page-store .col-left .option-chos .info-store .store-list .store-name {
    position: relative;
    display: inline-block;
    padding: 10px 5px
}

.page-store .col-left .option-chos .info-store .store-list .store-name b {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #D64646
}

.page-store .col-left .option-chos .info-store .store-list .store-name span {
    position: relative;
    font-size: 13px;
    padding-left: 20px;
    color: #747474;
    width: 100%;
    display: inline-block
}

.page-store .col-left .option-chos .info-store .store-list .store-name span a {
    color: #747474
}

.page-store .col-left .option-chos .info-store .store-list .store-name span a:hover {
    color: #0974ba
}

.page-store .col-left .option-chos .info-store .store-list .store-name span .icon {
    top: -1px;
    left: 0;
    position: absolute
}

.page-store .col-left .option-chos .info-store .store-list .store-name span .icon svg {
    width: 13px;
    height: auto
}

.page-store .col-left .option-chos .info-store .store-list:last-child {
    border-top: solid 0px #ebebeb !important
}

.page-store .col-left .option-chos .info-store .store-name:hover,.page-store .col-left .option-chos .info-store .store-name:focus {
    background: #fffaf5
}

.page-store .col-right .wrapcontact {
    overflow: hidden
}

.page-store .col-right .wrapcontact .map iframe {
    width: 100% !important;
    height: 555px;
    border-radius: 5px
}

.page-store .col-right .pagebody iframe {
    width: 100% !important;
    height: 555px;
    border: 0px !important;
    border-radius: 5px
}

@media (max-width: 991px) {
    .page-store .col-right {
        margin-top:20px
    }

    .page-store .col-right .wrapcontact .map iframe {
        width: 100% !important;
        height: 350px;
        border: 0px !important
    }

    .page-store .col-right .pagebody iframe {
        width: 100% !important;
        height: 350px;
        border: 0px !important
    }
}

.page-store .info-iframe {
    width: 100%;
    clear: both;
    float: left;
    margin-top: 10px;
    font-size: 16px
}

.page-store .info-iframe a {
    color: #0974ba
}

@media (max-width: 767px) {
    #list-favorite .setWishlist {
        display:block !important;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

.section_num {
    padding: 10px 0px 20px 0px
}

@media (max-width: 991px) {
    .section_num {
        padding:10px 0px 10px 0px
    }
}

.section_num .item {
    display: flex;
    align-items: center;
    border-right: 1px solid #797979;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 5px
}

.section_num .item.item_1 {
    background-color: #EC6645
}

.section_num .item.item_2 {
    background-color: #89D4F3
}

.section_num .item.item_3 {
    background-color: #33C9A7
}

.section_num .item.item_4 {
    background-color: #DF4540
}

.section_num .item:last-child {
    border-right: 0
}

@media (max-width: 991px) {
    .section_num .item {
        margin-bottom:15px
    }

    .section_num .item:nth-child(3),.section_num .item:nth-child(4) {
        margin-bottom: 0px
    }

    .section_num .item:nth-child(2),.section_num .item:nth-child(4) {
        border-right: 0
    }
}

.section_num .item img {
    max-height: 64px;
    max-width: 64px;
    width: initial
}

@media (max-width: 767px) {
    .section_num .item img {
        max-height:46px;
        max-width: 46px
    }
}

.section_num .item .content .num {
    font-size: 30px;
    line-height: 34px;
    display: inline-block;
    font-weight: 500;
    color: #fff;
    display: block
}

@media (max-width: 767px) {
    .section_num .item .content .num {
        font-size:20px;
        line-height: 26px
    }
}

.section_num .item .content .title {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 300
}

@media (max-width: 767px) {
    .section_num .item .content .title {
        font-size:16x
    }
}
